{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(reponse) }}

    <div>Département : {{ reponse.repondant.department.slug }}</div>
    <div>Typologie : {{ reponse.repondant.typologie.slug }}</div>
    <div>Restauration : {{ reponse.repondant.restauration ? 'Oui' : 'Non' }}</div>
    <div>espace vert : {{ reponse.repondant.greenSpace ? 'Oui' : 'Non' }}</div>

    <h1 class="font-bold">Score Total</h1>
    {{ reponse | reponse_percentage }}%/100
    <h2 class="font-bold mt-4">Scores par thématique</h2>
    {% for score in reponse.scores %}
        <h3 class="font-bold mt-2">{{ score.thematique.name }}</h3>
        {{ score.points }}/{{ score.total }}
    {% endfor %}
{% endblock %}
