{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(reponse) }}

    <h1 class="font-bold">Score Total</h1>
    {{ reponse.points }}/{{ reponse.total }}
    <h2 class="font-bold mt-4">Scores par thématique</h2>
    {% for score in reponse.scores %}
        <h3 class="font-bold mt-2">{{ score.thematique.name }}</h3>
        {{ score.points }}/{{ score.total }}
    {% endfor %}
{% endblock %}
