{% extends 'base.html.twig' %}

{% block title %}ÉcoBoussole : les résultats de votre territoire{% endblock %}
{% block description %}Grâce à l’autodiagnostic ÉcoBoussole, accédez au niveau d’engagement durable des prestataires touristiques de votre territoire pour comprendre leurs besoins et les accompagner.{% endblock %}
{% block robots %}<meta name="robots" content="noindex">{% endblock %}

{% block body %}

    {{ dump() }}

    <div class="flex">
        <div>
            <div class="bg-primary-50">
                <p>Score de votre territoire</p>
                <p>{{ display_percentage(globals.percentageGlobal) }} (pour {{ globals.numberOfReponsesGlobal }} répondants)</p>
                <p>Score de la région</p>
                <p>{{ display_percentage(globals.percentageRegionGlobal) }} (pour {{ globals.numberOfReponsesRegionGlobal }} répondants)</p>
            </div>
            <div class="bg-primary-250">
                <p>Détail par piliers du développement durable</p>
                <ul>
                    {% for pilier, percentageByPilier in globals.percentagesByPiliersGlobal %}
                        <li>{{ pilier }} : {{ display_percentage(percentageByPilier) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="bg-primary-200">
            <p>Nombres de répondants</p>
            <div>{{ globals.numberOfReponsesGlobal }} répondants dont : </div>
            <ul>
                {% for typologie, repondantsByTypologieGlobal in globals.repondantsByTypologieGlobal %}
                    <li>{{ typologie }} : {{ repondantsByTypologieGlobal }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="bg-primary-50">
            <p>Score total par établissement</p>
            {% for typologie, percentageByTypology in scores.percentagesByTypology %}
                <li>{{ typologie }} : {{ display_percentage(percentageByTypology) }}</li>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div>Thematiques : {{ query.thematiques is empty ? 'Toutes' : query.thematiques | join(', ') }}</div>
    <div>Typologies : {{ query.typologies is empty ? 'Toutes' : query.typologies | join(', ') }}</div>
    <div>Restauration : {{ query.restauration is not defined ? 'N/A' : (query.restauration ? 'Oui' : 'Non') }}</div>
    <div>Espace vert : {{ query.greenSpace is not defined ? 'N/A' : (query.greenSpace ? 'Oui' : 'Non') }}</div>

    <h1 class="font-bold">Pourcentage Total</h1>
    {{ display_percentage(globals.percentageGlobal) }}
    <h2 class="font-bold mt-4">Scores par thématique</h2>
    {% for percentage in scores.percentagesByThematiques %}
        <h3 class="font-bold mt-2">{{ percentage.name }}</h3>
        {{ display_percentage(percentage.value) }}
    {% endfor %}

    <div class="border bg-secondary-950">
        {% if territoire.area.value == 'region' %}
            <h2 class="font-bold mt-4">Liste des département du {{ territoire.name }}</h2>
            {% if children is not empty %}
                <ul class="grid">
                    {% for child in children %}
                        <li>
                            <div><a href="{{ url('app_territoire_single', { identifier: child.slug }) }}">{{ child.name }}</a></div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        {% if territoire.area.value == 'departement' %}
            <h2 class="font-bold mt-4">Liste des OT du {{ territoire.name }}</h2>
            {% if children is not empty %}
                <ul class="grid">
                    {% for child in children %}
                        <li>
                            <div><a href="{{ url('app_territoire_single', { identifier: child.slug }) }}">{{ child.name }}</a></div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        <h2 class="font-bold mt-4">Liste des répondants</h2>
        {% if globals.repondantsGlobal is not empty %}
            <ul class="grid">
            {% for repondant in globals.repondantsGlobal %}
                <li>
                    <div>{{ repondant.typologie }}</div>
                    <div><a href="{{ url('app_resultat_single', { uuid: repondant.uuid }) }}">{{ repondant.company }}</a></div>
                    <div>{{ display_percentage(repondant.points, repondant.total) }}</div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
