{% extends 'base.html.twig' %}

{% block title %}Territoire {{ territoire.name }}{% endblock %}

{% block body %}

    {{ dump() }}

    <div>Nombres de réponses : {{ numberOfReponses }}</div>
    <div>Typologies : {{ query.typologies is empty ? 'Toutes' : query.typologies | join(', ') }}</div>
    <div>Restauration : {{ query.restauration is defined ? 'N/A' : (query.restauration ? 'Oui' : 'Non') }}</div>
    <div>Espace vert : {{ query.greenSpace is defined ? 'N/A' : (query.greenSpace ? 'Oui' : 'Non') }}</div>

    <h1 class="font-bold">Pourcentage Total</h1>
    {{ display_percentage(percentageGlobal) }}
    <h2 class="font-bold mt-4">Scores par thématique</h2>
    {% for percentage in percentages %}
        <h3 class="font-bold mt-2">{{ percentage.name }}</h3>
        {{ display_percentage(percentage.value) }}
    {% endfor %}

    <h2 class="font-bold mt-4">Liste des répondants</h2>
    {% if repondants is not empty %}
        <ul class="grid">
        {% for repondant in repondants %}
            <li>
                <div>{{ repondant.typologie }}</div>
                <div><a href="{{ url('app_resultat_single', { uuid: repondant.uuid }) }}">{{ repondant.company }}</a></div>
                <div>{{ display_percentage(repondant.points, repondant.total) }}</div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
