{% extends 'base.html.twig' %}

{% block body %}

    {{ dump() }}

    <div>Nombres de réponses : {{ numberOfReponses }}</div>
    <div>Typologies : {{ query.typologies is empty ? 'Toutes' : query.typologies | join(', ') }}</div>
    <div>Restauration : {{ query.restauration is defined ? 'N/A' : (query.restauration ? 'Oui' : 'Non') }}</div>
    <div>Espace vert : {{ query.greenSpace is defined ? 'N/A' : (query.greenSpace ? 'Oui' : 'Non') }}</div>

    <h1 class="font-bold">Pourcentage Total</h1>
    {{ percentageGlobal }}
    <h2 class="font-bold mt-4">Scores par thématique</h2>
    {% for percentage in percentages %}
        <h3 class="font-bold mt-2">{{ percentage.name }}</h3>
        {{ percentage.value }}/100
    {% endfor %}
{% endblock %}
